<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_osc._udp.</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Vibe ID uses the local network to send OSC messages to your software (like Chataigne)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
</dict>
</plist>
